<h1><%= @task.title.upcase %></h1>

<h2>  <i class="<%= @task.completed ? 'far fa-check-circle' : 'far fa-circle' %>"></i> <%= @task.details.capitalize %></h2>

<%= link_to "Edit this task", edit_task_path(@task.id) %>
<br>


<%= link_to task_path(@task), method: :delete, data: { confirm: 'Are you sure?' } do %>
  <%= "Delete this task"  %>
<% end %>

<br>
<br>
<br>

<%= link_to "Back to To Do list", tasks_path %>
